* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .inputOver {
    width: 150px;
    overflow: hidden;
  }
  span {
    width: 110px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .inputOver {
    width: 150px;
  }
  span {
    width: 110px;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
body,
html {
  padding: 10px ;
}
th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
th:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: #ffffff -1px 1px, #ffffff -2px 2px, #ffffff -3px 3px,
    #ffffff -4px 4px, #ffffff -5px 5px, #ffffff -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}
tr:nth-child(0):hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: #ffffff -1px 1px, #ffffff -2px 2px, #ffffff -3px 3px,
    #ffffff -4px 4px, #ffffff -5px 5px, #ffffff -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}
.inputOver {
  margin: 0px;
  z-index: 22;
  border-radius: 5px;
  font-family: sans-serif;
  background: #f5f5f5;
  font-size: 13px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  height: 30px;
  align-self: center;
  margin: 30px;
  margin-top: 2px;
  border-radius: 5px;
  z-index: 0;
  position: relative;
  display: inline-block;
  transition: all 0.9 linear;
  border: 0;
  border: 1px solid rgb(0, 0, 0);
}
#pannel {
  padding: 100px;
}
.divPannel {
  width: 20%;
  height: auto;
  border: 0;
  overflow: auto;
  display: inline-block;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
div div#div1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 2px;
}
div div#div5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 2px;
  border: 3px solid #222b30;
  background-color: #000000a1;
  box-shadow: inset 1px 1px 100px rgba(145, 145, 145, 0.535);
  width: 20%;
}
.btn {
  border: 1px solid transparent;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: white;
  text-align: center;
  align-self: center;
  margin: 8px;
  transition: all 0.5s linear;
}
span {
  font-family: sans-serif;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  align-self: center;
  height: 30px;
  transition: all 0.5s linear;
  background-color: black;
  border-radius: 10px 10px 0 0;
  color: white;
}
#option {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
}
#clear {
  width: 100px;
  height: 30px;
  margin-top: 0px;
  visibility: hidden;
}
.btn:hover {
  cursor: pointer;
  outline-color: transparent;
  box-shadow: inset 6px 6px 20px white;
  color: black;
}
td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 0.3s;
}
table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  width: 95%;
}
tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}
tbody:hover tr:hover td {
  color: #1a1c1c;
  text-shadow: 10px 10px 30px black;
}
tbody:hover tr:hover td:hover {
  color: #000000;
  text-shadow: 1px 1px 100px rgb(255, 255, 255);
}
#TableContainer {
  width: 100%;
}
#pannel {
  padding: 10px;
  background-color: #49555a;
}
button:disabled,
button[disabled] {
  border: 2px solid #484848;
  background-color: #a3a3a3;
  color: #000000;
}
button:disabled,
button[disabled]:hover {
  box-shadow: inset 0px 0px 0px white;
  color: black;
}
